.header
    nav
        margin-left 2em

        a
            display inline-block
            line-height 70px
            margin-right 2em
            font-weight bold

            &.active
                text-decoration none
                color black