@require '../common/mixins.styl'
@require '../common/vars.styl'

.ingredient
    display block
    box-sizing border-box
    width (ingred-width * 2) + 35px
    padding 5px

    border 1px solid beige
    border-radius 2px

    font-size 12px
    cursor pointer
    animated-transition()

    &.marked
        cursor default
        opacity .3
        animated-transition()

    &-title
        font-size 120%
        margin 0

    &-list
        padding-left 0
        margin 0
        list-style-type none
        font-size 90%

        li
            display inline-block
            padding-right 1em
            width ingred-width