@require '../common/mixins.styl'

.ingredient
    display block
    width 150px
    padding .5em

    border 1px solid beige
    border-radius 2px

    font-size 12px
    cursor pointer
    animated-transition()

    &.marked
        pointer-events none
        cursor default
        opacity .3
        animated-transition()

    &-title
        font-size 120%
        margin 0

    &-list
        padding-left 0
        margin 0
        list-style-type none
        font-size 90%