@require "common/colors"
@require "common/vars"

.overall
    position relative

    &-search
        box-sizing border-box !important
        height controls-height
        width 100%
        border 0 none
        border-bottom default-border

    &-listing
        position absolute
        top controls-height + 1px
        right 0
        bottom 0
        left 0
        overflow-y scroll


