@require "common/colors"
@require "common/vars"

.overall
    position relative

    &-search
        box-sizing border-box !important
        width 100%
        border 0 none
        border-bottom default-border
        /*background-color color-bg*/

    &-listing
        position absolute
        top 21px
        right 0
        bottom 0
        left 0
        overflow-y scroll


