p(style="float: left")
    | Clicking on ingredient to the left ("showcase" list) adds/removes it from your "inventory".
    br
    | Clicking on potion will filter showcase by this potion's effect.
p(style="float: right")
    | All data was taken from <a href="http://uesp.net/">uesp.net</a>.