@import "../node_modules/normalize-css/normalize.css";

@import "common/scrollbar";
@import "common/layout";
@import "overall/overall";
@import "inventory/inventory";
@import "ingredient/ingredient";
@import "potion/potion";
@import "header/header";
@import "footer/footer";